@use "sass:math"

@keyframes happa
  $len: 8
  @for $i from 0 to $len
    $y: 0
    @if $i % 2 != 0
      $y: -0.2em

    $r: 0
    @if $i >= math.div($len, 2)
      $r: 0.5turn

    #{math.percentage(math.div($i, $len))}
      transform: translateY($y) rotateY($r)
